<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASS</title>

    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>

    <header>
        <h1>Good Morning, Captain!</h1>
        <div> 
        	<p> Want to write something? Just start! </p>
        </div>
    </header>

    <main>
        <div class="container">
            <form action="/edit/" method="POST">
                <input type="text" name="title" placeholder="Note's title..."></textarea>
                <button type="submit">Edit Note</button>
            </form>
        </div>
    </main>

</body>
</html>